<div id="base-wrap">
    <div class="container">
        <header>
            <div class="heading">
                <h1><i class="glyphicon glyphicon-film"></i>Winnie Records</h1>
            </div>
            <div class="font-larger font-yahei">
                Your classic record shop. Sell your old vinyls to us.Lists as follow.
            </div>
        </header>
        <div class="bg-img">
            <h1>未完待续。。。</h1>
        </div>
    </div>
</div>
<div class="tag-personal-page">
    <a routerLink="/">返回个人主页</a>
</div>
<div class="panel-footer center font-josefin-sans" id="footer-module">
    Copyright © 2016: Winnie Shen.
</div>