<div id="wrap">
    <div class="container">
        <header class="blog-owner">
            <h1><a routerLink="/blog/blog-index" class="color-black-hover-grey font-tillana no-underline">Winnie's Blog</a></h1>
        </header>
        <div class="row nav-content">
            <div class="col-lg-9 nav-line">个性签名：这世界本没有路，走的人多了，就成了路。</div>
            <div class="col-lg-1" [ngClass]="homeClass" id="home-page-link">
                <a class="no-underline color-grey" routerLink="/blog/blog-index"><span class="glyphicon glyphicon-home"></span>首页</a>
            </div>
            <div class="col-lg-1" [ngClass]="categoryClass" id="category-link">
                <a class="no-underline color-grey" routerLink="/blog/category-date"><span class="glyphicon glyphicon-folder-close"></span>分类</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 left-bar">
                <router-outlet></router-outlet>
            </div>
            <div class="col-lg-4 right-bar" id="right-bar-div">
                <div class="input-group stylish-input-group blog-search font-simhei">
                    <input type="text" class="form-control"  placeholder="Search" />
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <div class="blog-right-bar-item blog-category">
                    <a class="font-larger no-underline color-grey font-yahei" routerLink="/blog/category-detail"><span class="glyphicon glyphicon-folder-close"></span>Category</a>
                    <ul class="blog-right-bar-list" >
                        <li *ngFor="let categoryDetail of categoryDetails">
                            <a class="color-grey-hover-black font-yahei font-common" routerLink="/blog/category-detail">{{categoryDetail.name}}({{categoryDetail.articleNum}})</a>
                        </li>
                    </ul>
                </div>
                <div class="blog-right-bar-item blog-new-articles">
                    <a class="font-larger no-underline color-grey font-yahei">
                        <span class="glyphicon glyphicon-list-alt"></span>New Articles
                    </a>
                    <ul class="blog-right-bar-list">
                        <li><a class="color-grey-hover-black font-yahei font-common">Linux命令之二：find/grep</a></li>
                        <li><a class="color-grey-hover-black font-yahei font-common">Angular2学习手册</a></li>
                        <li><a class="color-grey-hover-black font-yahei font-common">Linux命令之一：基础命令</a></li>
                        <li><a class="color-grey-hover-black font-yahei font-common">Linux基础知识</a></li>
                    </ul>
                </div>
                <div class="blog-right-bar-item">
                    <a class="font-larger no-underline color-grey font-yahei">
                        <span class="glyphicon glyphicon-comment"></span>New Comments
                    </a>
                    <ul class="comments-list">
                        <li *ngFor="let comment of comments">
                            <a class="comment-user color-grey-hover-black no-underline font-common font-yahei">{{comment.userName}}</a>
                            <div class="font-smaller color-gray ellipsis-one-line-style">
                                {{comment.createDate}} <a class="color-grey-hover-black no-underline">{{comment.blogTitle}}</a>
                            </div>
                            <div class="color-real-black font-common font-simhei ellipsis-style">{{comment.content}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="little-view-tags tag-home-page">
    <a routerLink="/blog/blog-index"><span class="glyphicon glyphicon-home"></span><div>首页</div></a>
</div>
<div class="little-view-tags tag-category">
    <a routerLink="/blog/category-date"><span class="glyphicon glyphicon-folder-close"></span><div>分类</div></a>
</div>
<div class="tag-click-icon">
    <span id="tag-show" class="glyphicon glyphicon-chevron-left"></span>
    <span id="tag-hide" class="glyphicon glyphicon-chevron-right"></span>
</div>

<div class="tag-personal-page">
    <a routerLink="/">返回个人主页</a>
</div>
<div class="panel-footer center font-josefin-sans">
    Copyright © 2016: Winnie Shen.
</div>
